<!doctype html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>eShop</title>
    <link rel="stylesheet" href="reset.css">
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="widgets/chat/style.css">
</head>

<body>
  
  <div id="app">
  <header class="header">
    <div class="container">
      <form class="search-form" @submit.prevent>
        <input type="text" class="search-input" v-model.trim="searchLine"/>
      </form>
      <button class="cart-button" @click="toggleCartVisibility">Корзина</button>
      <div class="cart-container" v-if="isVisibleCart">

      </div>
    </div>
  </header>
  <main>
    <goods-list :goods="filteredGoods"></goods-list>
  </main>
</div>
  
  
 <!-- <div id="app">
   <header class="header">
    <div class="container">
        <form class="search-form">
            <input type="text" class="search-input" v-model="searchLine"/>
            <button class="search-button" v-on:click="filterGoods">Искать</button>
        </form>
        <button class="cartButton">Корзина</button>
    </div>
</header>
    <main>
        <div class="goods-list"></div>
        
         <div class="goods-list">
      <div class="goods-item" v-for="good in filteredGoods" :key="good.id_product">
       <a href="#" class="imageLink"><div class="image">Image</div></a><a href="#" class="productTitleLink"><h3 class="productTitle">{{ good.product_name }}</h3></a><p>{{ good.price }} &#8381;</p><a href=# class="buyButton">Купить</a>
      </div>
    </div>
    </main>
     </div>-->
    
    <script type="application/javascript" src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script type="application/javascript" src="index.js"></script>
   
</body>

</html>
